<template name="nav">
  <div class="nav z-depth-1" role="navigation">
    <div class="nav-wrapper container ">
      <div class="actions">
        <a id="logo-container" href="/" class="brand-logo">AppCha!</a>
        <ul class="actions right">
          <li>
            <a href="#" data-activates='ddprofile' class="dropdown-button action-link">{{currentUserDisplayName}}</a>

            <ul id='ddprofile' class='right dropdown-content'>
              <li><a href="#">My Profile</a></li>
              <li><a href="#">My Account</a></li>
              <li class="divider"></li>
              <li><a href="{{pathFor 'sign-in'}}" class="js-logout">Log out</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="sub-nav">
        {{> Template.dynamic template=subnav}}
      </div>
    </div>

  </div>
</template>
