$appcha-nav-bg-color: #fff;
$appcha-nav-border-color: #000;
$appcha-nav-color: #555;
$appcha-nav-height: 80px;
$appcha-header-bg-color: #474849;
$appcha-header-color: #fff;

$appcha-sub-header-bg-color: rgba(0, 0, 0, 0.1);
$appcha-sub-header-color: #fff;

$appcha-content-bg-color: #343536;
$appcha-content-color: #fff;

$appcha-link-color: #db5a3c;