.auth-card-row {
  max-width: 1300px;
  min-width: 1100px;
  .auth-card {
    border-radius: 2px;
    margin-top: 10em;
    margin-right: -15px;
    margin-left: -15px;
    background: #fff url("/imgs/masthead.png") no-repeat -1000px -20px;
    .at-hero {
      color: #fff;
      text-align: center;
      .logo {
        margin-top: 40%;
        .fa {
          font-size: 80px;
        }
      }
      h1 {
        font-size: 40px;
        text-shadow: 0px 1px 15px #000;
        letter-spacing: 2px;
        font-weight: 100;
      }
      h2 {
        font-size: 22px;
        text-shadow: 0px 1px 15px #000;
        letter-spacing: 2px;
        font-weight: 100;
      }
      .meta {
        position: absolute;
        bottom: 30px;
        left: 20px;
        font-weight: 100;
        color: #f6f6f6;
        font-size: 0.75em;
      }
    }
    .at-form {
      min-height: 500px;
      margin: 0 -8px 0px -20px;
      background-color: white;
      padding: 75px;
      //color: #000;

      input {
        color: #000;
      }
      p {
        color: #aaa;
        text-align: center;
      }
      .input-field {
        span.fa {
          position: absolute;
          right: 15px;
          bottom: 30px;
          &.fa-check {
            color: #4CAF50;
          }
        }
      }
      .at-pwd-form {
        button {
          width: 100%;
        }
      }
      .at-social-btn {
        margin: 10px;
      }
    }
  }
}