@import "../includes/variables";


html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $appcha-header-bg-color;
  //color: $appcha-content-color;
  &.authenticated{
    background-color: $appcha-body-bg-color;
  }
}

.container{
  width: 100%;
  max-width: none;
  padding: 0 15px;
}