@import "../includes/variables";

.main-layout {
  #footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: $appcha-header-bg-color;
    border-top: 1px solid $appcha-nav-border-color;
    p {
      color: $appcha-content-color;
      margin: 15px;
    }
  }
}

.login-layout {
  #footer {
  text-align: center;;
    p {
      color: darken($appcha-content-color, 35%);
      margin-top: 30px;
    }

  }
}

#footer{
  .fa-heart{
    color: #ff87c9;
  }
}