@import "../includes/variables";

.nav {
  background-color: $appcha-header-bg-color;

  .brand-logo {
    letter-spacing: 2px;
    font-weight: 100;
    color: #fff;
    font-size: 2em;
    padding:10px 0px;
    display: inline-block;
  }

  .actions{
    .action-link{
      color: #fff;
    }
  }

}